

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Login.cshtml";
}

<!doctype html>
<html lang="en">

<!-- Mirrored from cosmoadmin.com/preview/sign-in.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 13 Sep 2018 17:34:21 GMT -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Base CSS -->
    <link rel="stylesheet" href="/assets/css/basestyle/style.css">
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Fontawesome Icons -->
    <link href="/assets/css/fontawesome/fontawesome-all.min.css" rel="stylesheet">
    <link href="/assets/css/pages/login.css" rel="stylesheet">
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <title>YMCA</title>
</head>
<body>

    <section class="wrapper">

        <div class="login">
            <div class="image-placeholder">

            </div>
            <div class="form">
                <div class="text-center mb-4"><span class="material-icons text-danger" style="font-size:6rem;">wifi_tethering</span></div>
                <h3 class="h4 mb-5 text-center">YMCA Admin Login</h3>
                @using (Html.BeginForm())
                {
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email or Username</label>

                            @Html.TextBox("userid", null, new { @class = "form-control", placeholder = "username" })
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>

                            @Html.Password("password", null, new { @class = "form-control", placeholder = "Password" })
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Remember me</label>
                            <a href="#" data-toggle="modal" data-target="#forgotPassword" class="float-right">Password ?</a>
                        </div>

                        <input type="button" id="logindata" value="Login" class="btn mt-4 btn-primary btn-block" />
                    </form>
                }
                @{
                    if (IsPost == true)
                    {
                        string str = ViewBag.errormsg;
                        <span style="color:red">@str</span>
                    }
                }
            </div>

        </div>

    </section>

    <div class="modal fade " id="forgotPassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title" id="exampleModalLabel">Forgot Your Password ?</div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email or Username</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Reset Password</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/assets/js/jquery-3.3.1.slim.min.html"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap/bootstrap.min.js"></script>
    <script src="/assets/js/custom.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56821827-7"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-56821827-7');</script>


    @section scripts{
        <script>
                $(document).ready(function () {

                    $('#logindata').click(function () {
                        var data = {
                            "username": $("#userid").val(),
                            "password": $("#password").val()
                        };
                        $.ajax({
                            url: "/Login/validateuser",
                            type: "POST",
                            data: data,
                            dataType: "json",
                            contentType: "application/x-www-form-urlencoded; charset=UTF-8;",
                            success: function (response) {
                                if (response.Success) {
                                    $.get("@Url.Action("Index", "Home")", function () {

                                        var link = "@Url.Action("Index", "Home")";
                                        window.location.href = link;
                                    });
                                }
                                else {
                                    alert('Username/password is invalid.');
                                }
                            },
                            error: function () {
                                console.log('Login Fail!!!');
                            }
                        });
                    });
                });
        </script>

    }


</body>

</html>



